<% include partials/header %>
<div class="ui main text container segment">
    <div class="ui huge header">New Blog</div>
    <form class="ui form" action="/blogs" method="POST">
        <div class="field">
            <label>Title</label>
            <div class="field">
                <input type="text" name="blog[title]" placeholder="title">
            </div>
        </div>
        <div class="field">
            <label>Image</label>
            <div class="field">
                <input type="text" name="blog[image]" placeholder="image">  
            </div>
        </div>
        <div class="field">
            <label>Blog Content</label>
            <div class="field">
                <textarea name="blog[body]"></textarea>   
            </div>
        </div>
        <input class="ui purple big basic button" type="submit">
    </form>
</div>
<% include partials/footer %>