<% include partials/header %>
<div class="ui main text container">
    <div class="ui huge header"><%= blog.title %></div>
    <div class="ui top attached segment">
        <div class="item">
            <img class="ui centered rounded image" src="<%= blog.image %>" style="width:450px; height: 375px;">   
            <div class="content">
                <span><%= blog.created.toDateString() %></span>
            </div>
            <div class="description">
                <p><%- blog.body %></p>    
            </div>
            <div>
                <p><a href="/blogs">Go Back</a></p>
            </div>
        </div>
    </div>
</div>
<% include partials/footer %>