<% include partials/header %>

<div class="container">
    <div class="jumbotron text-center">
        <h1>YelpCamp</h1>
        <p>Welcome to YelpCamp!</p>  
        <a class="btn btn-primary btn-lg" href="/campgrounds">View All Campgrounds</a>   
    </div>
</div>

<% include partials/footer %>