<% include partials/header %>
<div class="container">
    <div class="jumbotron">
        <h1><%= campground.name %> Information</h1>
        <p>Here's what <%= campground.name %> is like.</p>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
            <img src="<%= campground.image %>">
            <div class="caption">
                <p><%= campground.description %></p>   
            </div>
        </div>
    </div>
</div>
<div class="container">
    <a href="/campgrounds">Go Back</a>      
</div>
<% include partials/footer %>