<h1>Results Page!!!</h1>
<h3>List of Movies Titles:</h3>
<ul>
    <% for(var i = 0; i < data["Search"].length; i++) { %>
        <li><strong><%= data["Search"][i].Title %></strong> - <em><%= data["Search"][i].Year %></em></li>
    <% } %>
</ul>

<a href="/">Search Again!</a>