<% include partials/header %>
<h1>YelpCamp</h1>
<p>Welcome to YelpCamp!</p>
<form>
    <input type="text">
    <input type="submit">
</form>
<a href="/campgrounds">View All Campgrounds</a>
<% include partials/footer %>