<% include partials/header %>
<h1>Create a New Campground</h1>
<form action="/campgrounds" method="POST">
    <input type="text" name="name" placeholder="Campground Name">
    <input type="text" name="image" placeholder="Image URL">
    <button>Submit!</button>
</form>
<a href="/campgrounds">Go Back</a>
<% include partials/footer %>