#header {
	color: #fff;
	text-align: center;
}

#colorDisplay {
	
}

#sub-header {
	text-align: center;
	background: #fff;
	color: #960a1e;
}

body {
	background-color: #232323;
}

/* Color Game Squares */
#container {
	max-width: 900px;
	margin: 0 auto;
}

.square {
	background: purple;
	width: 30%;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
}

