h1 {
	text-align: center;
}

#sub-header {
	background-color: white;
	height: 45px;
	text-align: center;
}

body {
	background-color: #232323;
	color: white;
}

#message {
	color: black;
}

/* Color Game Squares */
#container {
	max-width: 900px;
	margin: 0 auto;
}

.square {
	width: 30%;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
}

.selected {
	background: blue;
}

.hide {
	display: none;
}

