body {
	background-color: #232323;
	color: white;
}

span {
	color: white;
}

/* Color Game Squares */
#container {
	max-width: 900px;
	margin: 0 auto;
}

.square {
	width: 30%;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
}

