h1 {
	font-weight: 800;
	font-size: 2.5em;
	text-transform: uppercase;
	margin: 2.4% 1.66% .5% 1.66%;
}

h1, h4 {
	margin-left: 1.66%;
}

h4 {
	font-weight: 300;
	text-transform: uppercase;
	border-bottom: 2px solid #f1f1f1;
	padding-bottom: 1%;
	width: 30%;
}

h4 span {
	font-weight: 400;
	font-size: 2em;
	font-family: 'Mr Dafoe', cursive;
	text-transform: capitalize;
}

body {
	font-family: Raleway, sans-serif;
	font-size: 18px;
}

img {
	width: 30%;
	height: 30%;
	float: left;
	margin: 1.66%;
}
